[submodule "28august21uhr30gleis9"]
	path = 28august21uhr30gleis9
	url = https://github.com/HoePe999/28august21uhr30gleis9
[submodule "src"]
	path = src
	url = git@github.com:HoePe999/28august21uhr30gleis9.git
